- date  = "0915";
- rayNb = "788";
/ GOOGLE
- $gaq_start     = "ga('local.send', 'event', "
- $gaq_end       = "document.location.pathname);"

/ CATA
- $gaq_Ecata     = "'EncartHP_Ecata', 'EncartHP_Ecata_#{date}', "

/ RAYON
- $linkRayEvt    = "http://www.chienchatetcompagnie.com/fr/boutique/rayon_evenement.aspx?pg=0&evenement_id="+rayNb
- $gaq_rayon_evt = "'EncartHP_nouveautes#{date}', 'RayonEvt-"+rayNb+"', "

/ PCK
- $pck1_link     = "http://www.chienchatetcompagnie.com/fr/jeux-loisirs/jeux-chat/collier-chats/1747179.html"
- $pck2_link     = "http://www.chienchatetcompagnie.com/fr/promenade-vetements-paniers/manteaux-compagnie/pull-pompon-bleu-ou-rose/1743178.html"
- $pck3_link     = "http://www.chienchatetcompagnie.com/fr/promenade-vetements-paniers/colliers-laisses/collier-strass-chien-marron/1745173.html"

- $gaq_pck1      = "'EncartHP_nouveautes#{date}', 'pdt1-piscine-chien-1723170', "
- $gaq_pck2      = "'EncartHP_nouveautes#{date}', 'pdt2-gourde-portable-1135177', "
- $gaq_pck3      = "'EncartHP_nouveautes#{date}', 'pdt3-animofresh-1086172', "